@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
header{
    background-color: rgb(19, 19, 148);
    text-align:center;
    margin-top:2px;
    color:ghostwhite;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;}
  h1{
    display: flex;
    color:rgb(0, 0, 0);
    align-items:center;
    background-color:rgb(19, 19, 148);
    color:ghostwhite;
  }
  .img{
    justify-content: center;
    text-align: center;
    align-items:center;
    animation: moveleft 3s forwards;
  }
  .img2{
  align-items:center;
  align-content:center;
  animation:moveleft 5s backwards;
  }
  body{
    background-color:rgb(0, 0, 0);
    line-height:center;
    text-align:center;
    accent-color:inherit;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;;
  }
  h3{
    color:white;
    background-color: black;
  }
  h2{
    color:white;
    background-color: black;
  }
  p{
    display:flex;
    color:rgb(255, 255, 255);
    background-color:black;
    text-align:flex-start;
    padding-left:50px;
    padding-right:50px;
    font-size: 25px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

  }
  
  .flexdaddy {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav{
    background-color: #131394;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: large;
  }
  h3 {
    font-size:large;
    color:white;
    background-color: #131394;
  }
  a{
    color:white;
    BACKGROUND-COLOR:#131394;
    MARGIN:20PX;
    width:20em;
    border-radius: 20px;
    display:column;
    justify-content:center;
    align-items:flex-end; 
    padding:20px; 
    border-style:soild; 
      font-size:large;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color:ghostwhite;
    align-items: center;
    justify-content: space-between;}

    .img{
     animation: img2 6s;
    }
  @keyframes img2{
    0%{opacity:0%;}
  }
 
 